// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-index-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Circular';
    margin: auto;
    width: 80%;
    margin-bottom: 200px;
}

.playlist-show-c1 {
    // height: 100%;
    overflow-y: scroll;
}

.playlist-show-c2 {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
    // height: 100%;
}

.context-menu-ellipses {
    cursor: pointer;
    font-size: 26px;
    font-family: 'Circular';
    transition: all .02s ease-in;
    height: 100px;
    position: relative;
}

// .context-menu-ellipses:hover {
//     transform: scale(1.1);
// }

.context-menu-show {
    // display: none;
    position: absolute;
    left: 45px;
    top: 25px;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #282828;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    outline: none;
    pointer-events: none;
    z-index: 5
}

.context-menu-item {
    font-family: 'Circular';
    font-size: 14px;
    color: white;
    width: 100%;
    clear: both;
    // line-height: 32px;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    user-select: none;
    cursor: pointer;
}

.context-menu-hidden {
    display: none;
}