// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-index-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Circular';
    margin: auto;
    width: 80%;
    margin-bottom: 200px;
}

.playlist-show-c1 {
    // height: 100%;
    overflow-y: scroll;
}

.playlist-show-c2 {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
    // height: 100%;
}

.context-menu {
    cursor: pointer;
    font-size: 26px;
    font-family: 'Circular';
    transition: all .02s ease-in;
    height: 30px;
}

.context-menu:hover {
    transform: scale(1.1);
}