// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-index-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Circular';
    margin: auto;
    width: 80%;
}