.album-show-c1 {
    height: 100%;
    overflow-y: scroll;
}

.album-show-c2 {
    padding: 32px;
    margin: 0 auto;
    max-width: 1480px;
    height: 100%;
}

.album-show-c3a {
    position: relative;
}

.album-show-c3b {
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}