 @font-face {
     font-family: "Circular Bold";
     src: url('CircularStd-Bold.otf');
 }

 @font-face {
     font-family: "Circular";
     src: url('CircularStd-Book.otf');
 }

.header-grid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.main-h1 {
    font-family: "Circular Bold";
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    color: #fff;
    margin: 24px 0;
}

.featured-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 32px 32px;
}

#grid-title {
    font-family: "Circular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    text-align: center;

}

#grid-artist {

}
