Link {
    text-decoration: none;
}



#amp-logo-left-nav {
    padding-left: 24px;
    border: 0;
    padding-bottom: 18px;
    text-decoration: none;
    width: 131px;
    height: 40px;
}

.left-nav-link-container {
    text-decoration: none;
}

.nav-link-text-with-icon {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 40px;
}

.nav-link-text {
    margin-left: 16px;
    padding-top: 5px;
    color: white;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
}

.nav-link-icon {
    max-height: 24px;
}

