Link {
    text-decoration: none;
}

#amp-logo-left-nav {
    padding-left: 24px;
    border: 0;
    padding-bottom: 18px;
    text-decoration: none;
    width: 131px;
    height: 40px;
}

.nav-link-container-active {
    border-left: 3px solid #1db954;
}

.nav-link-text-with-icon {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 40px;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.nav-link-text-with-icon-p {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    height: 40px;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.nav-link-text-with-icon:hover {
    opacity: 1;
}

.nav-link-user {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    height: 40px;
    opacity: 0.75;
    transition: opacity .2s linear;
    position: absolute;
    bottom: 120px;
}

.nav-link-text {
    margin-left: 16px;
    padding-top: 5px;
    color: #b3b3b3;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
    letter-spacing: .015em;
    transition: color .2s;
}

.nav-link-text:hover {
    color: white;
}

.left-nav-navlink-selected {
    margin-left: 16px;
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
    letter-spacing: .015em;
}

.nav-link-text-cp {
    padding-top: 5px;
    color: #b3b3b3;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
    letter-spacing: .015em;
    transition: color .2s;
    cursor: pointer;
}

.nav-link-text-profile {
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
    letter-spacing: .015em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link-text-logout {
    padding: 30px 24px 0;
    color: #fff;
    font-size: 20px;
    font-family: "Circular";
    font-weight: 700;
    letter-spacing: .015em;
    text-align: left;
    position: absolute;
    bottom: 185px;
}

.nav-link-text-logout:hover {
    color: #1db954;
}

.nav-link-text-cp:hover {
    color: white;
}

.nav-link-icon {
    max-height: 24px;
}

.nav-link-profile {
    max-height: 30px;
    border-radius: 50%;
    margin-right: 16px;
}

.nav-link-icon-plus {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    padding: 4px;
}

.RootList {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

#left-nav-h2 {
    font-size: 11px;
    font-family: "Circular";
    line-height: 16px;
    letter-spacing: .015em;
    /* font-weight: ; */
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin: 0 20px;
}

#create-playlist-button {
    color: #b3b3b3;
    font-size: 14px;
    font-family: "Circular";
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    opacity: .75;
    transition: opacity .2s linear;
    padding: 15px 24px;
}

#create-playlist-button:hover {
    opacity: 1;
    cursor: pointer;
}

.playlist-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* padding: 15px 24px; */
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 230px;
}

.playlist-item {
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    min-height: 32px;
    opacity: .75;
    font-family: 'Circular';
    font-size: 14px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    max-width: 170px;
    overflow: hidden;
}

.playlist-item:hover {
    opacity: 1;
}

.playlist-item a {
    color: white;
}