#now-playing-bar {
  padding: 0 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 0;
  vertical-align: baseline;
  position: relative;
  height: 100%
}

/* left side */

.now-playing-left {
  display: flex;
  flex-direction: row;
  width: 30%
}

.thumb-image {
  // background-image: url("https://amplifyskiesxr-seeds.s3-us-west-1.amazonaws.com/Album+Photos/AFP+-+Skylines.jpg");
  background-size: cover;
  min-width: 56px;
  height: 56px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin: 0;
  display: block;
  outline: 0;
  position: relative;
}

.now-playing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin: 0 14px;
}

.np-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14px;
  align-items: flex-start;
  min-width: 130px;
}

#npt {
  font-family: "Circular";
  font-size: 14px;
  color: white;
  letter-spacing: .015em;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  padding-bottom: 2px;
  overflow: hidden;
  max-height: 41px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

#npt:hover {
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}

#npa {
  font-family: "Circular";
  color: #b3b3b3 !important;
  text-decoration: none;
  font-size: 12px;
  color: white;
  letter-spacing: .015em;
  line-height: 16px;
  cursor: pointer;
  display: inline;
}

#npa:hover {
  border-bottom: 1px solid white;
}

.love-container {
  margin: auto 0;
  // padding-left: 15px;
  position: relative;
  display: inline-block;
}

.love-container .tooltip {
  font-family: "Circular";
  font-size: 14px;
  visibility: hidden;
  width: 168px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 10px;
  left: 35px;
  z-index: 1;
}

.love-container:hover .tooltip {
  visibility: visible;
}

#love {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  transition: opacity .2s linear;
}

#love:hover {
  opacity: 1;
}

#love-green {
  width: 20px;
  height: 20px;
}

#love-button {
  width: 20px;
  height: 20px;
  position: relative;
  margin: auto;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

#love-button:active {
  outline: none;
}

/* Controls */

.now-playing-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.currentTime {
  font-family: 'Circular';
  color: #fff;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 50px;
  width: 35px;
  text-align: right;
}

.duration {
  font-family: 'Circular';
  color: #fff;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 48px;
  width: 35px;
}

.now-playing-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 10px;
  width: 35%;
}

.now-playing-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 224px;
  height: 40px;
  justify-content: center;
  flex-flow: row nowrap;
}

#np-button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

#play {
  opacity: .6;
  transition: opacity .2s linear;
  width: 50px;
  margin: 0 15px;
}

#play:hover {
  opacity: 1;
  transform: scale(1.06);
}

#play:active {
  transform: scale(.95);
  opacity: .6;
}

#direction-forward {
  opacity: .6;
  transition: opacity .2s linear;
  width: 16px;
  height: 16px;
  margin-right: 34px;
}

#direction-forward:hover {
  opacity: 1;
}

#direction-forward:active {
  opacity: .6;
}

#direction-backward {
  opacity: .6;
  transition: opacity .2s linear;
  width: 16px;
  height: 16px;
  margin-left: 34px;
}

#direction-backward:hover {
  opacity: 1;
}

#direction-backward:active {
  opacity: .6;
}

#shuffle {
  opacity: .6;
  transition: opacity .2s linear;
  width: 25px;
  height: 25px;
  // padding-right: 34px;
}

#shuffle:hover {
  opacity: 1;
}

#shuffle:active {
  opacity: .6;
}

#repeat {
  opacity: .6;
  transition: opacity .2s linear;
  width: 25px;
  height: 25px;
  // padding-left: 34px;
}

#repeat:hover {
  opacity: 1;
}

#repeat:active {
  opacity: .6;
}

#timeline {
  width: 500px;
  height: 3px;
  background: #fff;
  opacity: .2;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
}

#playhead {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: -1px;
  background: #1db954;
}

// Now Playing Right

.now-playing-right {
  min-width: 130px;
}

/* Mute Icon */

.mute-icon-container button {
  background: none;
  border: none;
  padding-top: 10px;
  outline: none;
}

#mute-icon {
  width: 20px;
  height: 20px;
  transition: all .05s;
}

#mute-icon:hover {
  transform: scale(1.1);
}

#mute-icon:active {
  transform: scale(1);
}

#myRange {
  background: transparent;
}