/* html {
    overflow-y: scroll;
} */

body {
    color: white;
    font-family: "Circular Bold";
}

::-webkit-scrollbar {
    width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left-nav {
    grid-area: left-nav;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    min-width: 228px;
}

.player {
    grid-area: player;
    background-color: #282828;
    position:relative;
}

/* Gradient Options */

.main {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(15, 94, 138), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-featured {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(43, 84, 91), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-artists {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(37, 34, 48), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-podcast {
    grid-area: main;
    background-image:linear-gradient(to right bottom, rgb(137, 16, 42), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-genre {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(69, 75, 84), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-discover {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(77, 70, 105), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-playlists {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(69, 75, 84), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-liked-songs {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(54, 95, 99), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.player-container {
    /* overflow-y: scroll; */
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: 1fr 90px;
    grid-template-areas:
    "left-nav main"
    "player player"
}

#react-audio,
#react-audio:active {
    outline: none;
}

/* Volume Control */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
}

.slider:hover {
    opacity: 1;
    background: #1db954
}

.slider::-webkit-slider-thumb {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer:hover input[type="range"]::-webkit-slider-thumb {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

