/* html {
    overflow-y: scroll;
} */

body {
    color: white;
    font-family: "Circular Bold";
}

::-webkit-scrollbar {
    width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left-nav {
    grid-area: left-nav;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    min-width: 228px;
    position: fixed;
    z-index: 2;
    height: 100%;
}

.player {
    grid-area: player;
    background-color: #282828;
    /* position:relative; */
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 10%;
}

/* Background Gradient Options */

.main {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(15, 94, 138), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
    height: 100vh;
}

.main-featured {
    grid-area: main;
    background-image: linear-gradient(to right bottom, #2d3958, rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-artists {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(37, 34, 48), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-podcast {
    grid-area: main;
    background-image:linear-gradient(to right bottom, rgb(137, 16, 42), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-genre {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(69, 75, 84), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-discover {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(77, 70, 105), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-playlists {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(69, 75, 84), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-liked-songs {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(54, 95, 99), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.albums-show {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(51, 51, 45), rgb(0, 0, 0)),
        linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.artists-show {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(51, 51, 45), rgb(0, 0, 0)),
        linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.genres-show {
    grid-area: main;
    background-image: linear-gradient(to right bottom, rgb(230, 227, 104), rgb(0, 0, 0)),
        linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.player-container {
    /* overflow-y: scroll; */
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: 1fr 90px;
    grid-template-areas:
    "left-nav main"
    "player player"
}

#react-audio,#react-audio:active {
    outline: none;
}

/* Volume Control */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
}

.slider:hover {
    opacity: 1;
    background: #1db954
}

.slider::-webkit-slider-thumb {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer {
    width: 100%;
}

.slidecontainer:hover input[type="range"]::-webkit-slider-thumb {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.rangeslider {
    height: 4px;
    width: 100%;
    background: #e6e6e6;
    position: relative;
    display: block;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* .rangeslider:hover .rangeslider_handle {
    display: inline-block;
} */

.rangeslider_fill {
    width: 46px;
    top: 0;
    height: 100%;
    background: #4CAF50;
    position: absolute;
    border-radius: 18%;
}

.rangeslider_handle {
    /* display: none; */
    display: inline-block;
    left: 0px;
    top: -4px;
    touch-action: pan-y;
    background: white;
    border: .5px solid #ccc;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    outline: none;
}

/* Like (Heart) Icon */

.likedSongMessageInactive {
    display: none;
    opacity: 0;
    transition: opacity .5s;
}

.likedSongMessage {
    font-family: 'Circular';
    font-size: 14px;
    color: white;
    background-color: #3e76ba;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    bottom: 10%;
    left: 50%;
    margin: auto;
    opacity: 1;
    transition: opacity .5s;
}
