.header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    display: block;
    box-sizing: border-box;
    min-height: 54px; 
}

.nav-flex-container {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    width: 1150px;
    min-height: 54px;
    /* padding: 1.9em;
    padding-top: 0em; */
    margin: auto;
    /* margin-bottom: 18px; */
}

.spotify-logo-splash {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 132px;
    height: 40px;
    background-size: 132px 40px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #D9DADC;
    font-size: 16px;
    font-weight: 700;
    padding: 33px 17px;
    position: relative;
    display: block;
}

.nav a:hover {
    color: #1DB954;
}

.splash-bg {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: #F037A5;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    z-index: 0;
    position: absolute;
}

.hero-home-bg-cover {
    background: url("hero-burst.svg");
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-position: top -350px left 10px;
    background-size: cover;
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
    z-index: 1;
}

.splash-main {
    position: relative;
    padding-top: 250px;  
    padding-bottom: 250px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 369px;
    width: 970px;
    margin: auto;
}

.hero-h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    color: white;
    position: relative;
    margin-bottom: 20px;
    margin-top: 85px;
}

.splash-main h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: .5em 0 1em;
    line-height: 1.1;
}

.splash-demo-btn {
    display: block;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 16px 48px 16px;
    width: 253px;
    height: 48px;
    color: #FFF;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border-width: 0;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s ease-in;
    outline: none;
}

.splash-demo-btn:hover {
    background-color: rgb(37, 224, 102);
}

.splash-demo-btn:active {
    background-color: rgb(20, 121, 55);
}

.demo-link {
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
    padding: 80px 0 50px;
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 100vw;
    max-width: 100%;
}