.header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    display: block;
    box-sizing: border-box;
    min-height: 54px; 
}

.nav-flex-container {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    width: 934px;
    min-height: 54px;
    /* padding: 1.9em;
    padding-top: 0em; */
    margin: auto;
    /* margin-bottom: 18px; */
}

.spotify-logo-splash {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 132px;
    height: 40px;
    background-size: 132px 40px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    /* float: left; */
    /* box-sizing: border-box; */
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #D9DADC;
    font-size: 16px;
    font-weight: 700;
    padding: 33px 17px;
    position: relative;
    display: block;
}

.nav a:hover {
    color: #1DB954;
}

.hero-home-bg-cover {
    background: url("hero-burst.svg");
    width: 1610px;
    height: 1523px;
    background-position: top -435px center;
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
    z-index: 1;
}

.splash-bg {
    width: 1610px;
    height: 1523px;
    background-color: #F037A5;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    z-index: 0;
}

